@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,200;1,400&family=Yanone+Kaffeesatz:wght@300;400&display=swap');

/* reset universal */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.3rem;
}

.margen-header {
	padding-left: .5%;
}

.dropdown-menu {
	background-color: rgb(130, 157, 184) !important;
}

.exposicion {
    padding-top: .5%;
    background-color: #1e7eaa;
}

.btn-outline-secondary, .btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:visited {
    background-color: #fac05e !important;
}

.galeria{
    width: 100%;
    /* height: auto; */
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
    padding: 20px;
    grid-gap: 15px;
}
.img{
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: auto;
    filter: opacity(75%);
}
.img:hover{
    transform: scale(1.05);
    transition: all 0.9s;
    filter: opacity(100%);
}

.img1 {
	background-image: url(../assets/img/after-chabon-sumo.jpg);
}

.img2 {
	background-image: url(../assets/img/animals-pink-floyd.jpg);
}

.img3 {
	background-image: url(../assets/img/for-you-tatsuro-yamashita.jpg);
}

.img4 {
	background-image: url(../assets/img/la-biblia-vox-dei.jpg);
}

.img5 {
	background-image: url(../assets/img/so-peter-gabriel.jpg);
}

.img6 {
	background-image: url(../assets/img/late-night-delight-saint-pepsi.jpg);
}

@media only screen and (min-width:480px){
    .galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
}

@media only screen and (min-width: 1024px){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
    }
}

@media only screen and (min-width: 1440px){
    .galeria {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 300px);
    }
}

.contenedor {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.semanal {
    background-color: #3fa7d6;
    font-family: 'Josefin Sans';
    padding-top: 1%;
    padding-left: .5%;
    padding-bottom: .5%;
}

.copete {
    font-style: italic;
}
.copete span {
    color: #f79d84;
}

.img-articulo {
    content: url(../assets/img/background-313415.jpg);
    max-width: 50%;
    border: 2px outset grey;
    margin-right: .5%;
}

.extended {
    max-width: 100%;
}

.margen-footer {
    margin-right: 25%;
}

main {
    margin-left: 2%;
    margin-right: 2%;
}